nav{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: coral;
    height: 40px;
}

nav a{
    text-decoration: none;
    color: darkred;
}

nav a:hover{
    background-color: antiquewhite;
    padding: 8px;
}

section{
    display: flex;
    justify-content: space-between;

}

.tech{
    width: 52%;
    margin: 20px 20px 20px 0px;
}